@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
    font-family: 'Amazon Ember', 'Helvetica', 'sans-serif';
    margin: 0;
  }
  a {
    color: #ff9900;
  }
  h1 {
    font-weight: 300;
  }
  hr {
    height: 1px;
    background: lightgray;
    border: none;
  }
  .app {
    width: 100%;
  }
  .app-header {
    color: white;
    text-align: center;
    background: linear-gradient(120deg, #c6221f 30%, #848484);
    width: 100%;
    margin: 0 0 1em 0;
    padding: 3em 0 3em 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .app-body {
    width: 400px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  .app-body button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #504e4e;
    background-image: linear-gradient(45deg,#504e4e,#848484);
    width: 150px;
    height: 40px;
    border-width: 5px;
    border-color: black;
    margin-left: 0px;
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .app-body button:hover {
    opacity: 0.8;
  }